<div class="container">
    <div class="row vh-100">
        <div class="col-12">
            <div class="d-flex bd-highlight mb-3">
                <div class="me-auto p-2 bd-highlight"><app-c1></app-c1></div>
                <div class="p-2 bd-highlight"><app-c2></app-c2></div>
            </div>
        </div>
        <div class="align-self-center text-center">
            <input type="text" (keyup)="onChange($event)" placeholder="enter text">
        </div>
        <div class="col-12 align-self-end">
            <div class="d-flex bd-highlight mb-3">
                <div class="me-auto p-2 bd-highlight"><app-c3></app-c3></div>
                <div class="p-2 bd-highlight"><app-c4></app-c4></div>
            </div>
        </div>
    </div>
</div>