<div class="container">
    <div class="row vh-100">
      <div class="col mx-auto my-auto">
        <div class="row text-center">
          <div class="col-md-6">
            <div class="row">
              <div [routerLink]="['/q1']" class="col-12 py-5">
                Q1
              </div>
              <div [routerLink]="['/q2']" class="col-12 py-5">
                Q2
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div [routerLink]="['/q3']" class="col-12 py-5">
                Q3
              </div>
              <div [routerLink]="['/q4']" class="col-12 py-5">
                Q4
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>